label{
    color: powderblue;
    /* color: white; */
    font-size: 25px;
    text-decoration: underline;
}
input{
    font-size: 23px;
    background-color: #1e1f24;
    rotate: right;
    padding-right: 30px;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    color: slategray;
}
body{
    margin: 0px;
    padding: 0px;
    background: url(back.jpg) no-repeat center fixed;
    background-size: cover;
    color: slateblue;
}
h3{
    color: rgb(89, 96, 102);
    font-size: 25px;
}

                        /**Header*/

header{
    background-color: #24252A;
    display: flex;
    padding: 17px 10%;
    padding-bottom: 17px ;
}
.logo{
    font-family: "Montserrat", sans-serif;
    font-size: 25px;
    color: #edf0f1;
    cursor: pointer;
    margin-right: auto;
}

                        /* Body */
.presentation .bvn p {
    color: snow;
    background: rgba(112, 128, 144, 0.596);
    padding: 2%;
    margin: 5%;
    border-left: 6px blue solid;
    border-radius: 30px;
    font-size: 20px;
}
.presentation img {
    margin-left: 3%;
    border-radius: 500px;
}
.presentation .rules p {
    font-size: 25px;
    color: rgb(255, 232, 203);
    border-left: 4px grey solid;
    padding: 1.5%;
    margin: 1%;
    /* background: rgba(128, 128, 128, 0.301); */
}
.presentation h3{
    margin-left: 2%;
    font-style: italic;
    color: slateblue;
    font-size: 30px;
    margin-top: 0.5%;
}
.presentation li{
    font-size: 23px;
    color: rgb(245, 253, 125);
    /* background: rgba(128, 128, 128, 0.301); */
    padding: 5px;
    padding-left: 1.5%;
    border-left: 4px grey solid;
    list-style: none;
    margin-left: -2%;
    margin-right: 1%;
}

                        /* Suivant button */
.suivant {
    border-radius: 50px;
    border: 20px transparent;
    padding: 1.5% 3%;
    color: snow;
    background: rgb(63, 69, 75);
    font-size: 20px;
}
.suivant:hover{
    background-color: rgb(86, 89, 255);
    transition: 1s;
}
    